<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Travel Buddy</title>
	<link rel="stylesheet" href="../static/style.css">
	
</head>
<body>
	<div class="header">
		<a href="/travels">Home</a>
		<a href="/goback">Logout</a>
		<h1>Welcome, {{request.session.first_name}}</h1>
	</div>
	
	<div class="container">
		<h1>{{trip.0.destination}}</h1>
		<h2>Planned By: {{trip.0.user_trip.first_name}}</h2>
		<h2>Description: {{trip.0.description}} </h2>
		<h2>Travel Date From: {{trip.0.date_from}} </h2>
		<h2>Travel Date To: {{trip.0.date_to}}</h2>
	</div>

	<div class="container">
		<h1>Other User Joining the trip</h1>
		{% for i in others %}
			<h3>{{i.first_name}}</h3>
		{% endfor %}
	</div>
	
</body>
</html>